/*style.css*/

body {
    background-color:pink;
    color:blueviolet;
    position:absolute;
    left:20px;
    margin-top:-10px;
}

.asian-salmon {
    width:450px;
    margin-top:-20px;
}

h1 {
    font-size:35px;
    font-family:'Bungee', cursive;;
    position:relative;
}

.words {
    font-family:'Bungee', cursive;;
}

.para {
    font-family:'Righteous', cursive;
    font-size:16px;
}

.para2 {
    font-family: 'Righteous', cursive;
    font-size:100px;
    position:absolute;
    left:200px;
    margin-top:-70px;
}

.anime-fish {

    position:absolute;
    left:1500px;
    height:400px;
    margin-top:1000px;
    border-radius:30px;
    border-color:red;
}